<html>
<head>
  <meta charSet="UTF-8">
  <meta httpEquiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.png">
  <title>Posts</title>
  <link href="/build/client.css" rel="stylesheet">
</head>
<body>
	<div id="react-root">
		<script src="/build/index.js" charset="UTF-8"></script>
	</div>
</body>
</html>